<!-- Footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy; Copyright © 2023 CODE TIM Corporation</h6>
    </nav>
</footer>
<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
</body>

</html>