<%- include ../../layouts/header.ejs %>
    <%- include ../../layouts/nav_bar.ejs %>
        <!-- Main Content -->
        <main class="container">
            <!-- Login Section -->
            <section id="login" class="login">
                <div class="section-title">
                    <h2>Login</h2>
                </div>
                <form method="POST" autocomplete="off">
                    <fieldset class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter username"
                            id="username" required autofocus>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password"
                            id="password" required>
                        <a href="/register">Register Here</a>
                    </fieldset>

                    <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-success" value="Login">
                        <a href="/"><input type="button" class="btn btn-warning" value="cancel"></a>
                    </fieldset>
                </form>
            </section>
        </main>
        <%- include ../../layouts/footer.ejs %>