<%- include ../layouts/header.ejs %>

<%- include ../layouts/nav_bar.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <br/>
      <h1 class="display-4">Welcome to Code-Tim</h1><br/>
     <span class="lead">Where coding is not just about writing lines of code, but about creating and learning together! Join us on this journey of coding, where we "Code with Me". Let's make coding fun and collaborative!</span>
  </main>
  
<%- include ../layouts/footer.ejs %>
  




