<%- include ../layouts/header.ejs %>

  <%- include ../layouts/nav_bar.ejs %>


    <!-- Main Content -->
    <main class="container">
      <!-- Services Section -->
      <section id="services" class="services">
        <div class="section-title">
          <h2>Services</h2>
          <p>This is a list of items I'm interested in. I can do it well and have the passion to work in this field.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class='bx bxl-dev-to'></i></div>
            <h4 class="title"><a href="">Full stack software engineer</a></h4>
            <p class="description">I have worked in this field before, with direct experience spanning more than 10
              years about develop full stack application and website</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class='bx bxl-react'></i></div>
            <h4 class="title"><a href="">Web developer</a></h4>
            <p class="description">I have experience using the ReactJs for frontend and NodeJs for backend of the web
              application.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class='bx bx-mobile'></i></div>
            <h4 class="title"><a href="">Mobile application</a></h4>
            <p class="description">I used to work with tools name Cordova and React native to build the Hybrid mobile
              application and I have the knowledge to deploy both IOS/Android.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class='bx bxl-aws'></i></div>
            <h4 class="title"><a href="">AWS services developer</a></h4>
            <p class="description">I have gained a solid understanding of AWS infrastructure and have been able to apply
              it to multiple projects. I now have a keen interest in expanding my knowledge and skills to be able to
              contribute even more to organizations by developing highly scalable and reliable AWS solutions.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class='bx bx-brain'></i></div>
            <h4 class="title"><a href="">Interesting in AI</a></h4>
            <p class="description">I am highly motivated to learn and become a successful machine learning engineer.
              Despite having no prior knowledge in AI, I am passionate about this rapidly growing field and the impact
              it can have on society. </p>
          </div>
        </div>
      </section>
    </main>

    <%- include ../layouts/footer.ejs %>